<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <table>
            <tr>
                <td style="padding:30px"></td>
                <td>
                    <div class="btn btn-info">
                        @Html.ActionLink("Home", "Index")
                    </div>
                </td>
                <td>
                    <div class="btn btn-info">
                        @Html.ActionLink("About", "Index")
                    </div>
                </td>
                <td>
                    <div class="btn btn-info">
                        @Html.ActionLink("Contact", "Index")
                    </div>
                </td>
                <td style="padding:50px"></td>
                <td>
                    <div class="btn btn-info">
                        @Html.ActionLink("Register", "Register")
                    </div>
                </td>
                <td>
                    <div class="btn btn-info">
                        @if (Session["User"] != null)
                        {
                            @Html.ActionLink("Log Out", "LogOut")
                        }
                        else
                        {
                            @Html.ActionLink("Log in", "LogOn")
                        }
                    </div>
                </td>
                <td>
                </td>
            </tr>
            <tr>
        </table>
    </header>


    @if (Session["User"] != null)
    {
        var tempUser = Session["User"] as User;
        <p>Logged in as: @tempUser.UserEmail</p>
    }

    <div style="padding:20px; border: solid medium black; font-size: 20pt">
        @RenderBody()
    </div>
    <footer><br />&#169;2020 - The Learning Center</footer>
</body>
</html>