
@model HelloWorld.Models.LoginModel
@{ Layout = "~/Views/_BasicLayout.cshtml"; }
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <style>
        .btn a {
            color: white;
            text-decoration: none;
        }

        body {
            background-color: #f1f1f1;
        }
    </style>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary()
        <div>
            <h1>Register.</h1>
            <h6>Create a new account.</h6>
        </div>
        <p>
            <label>Email</label> @Html.TextBoxFor(t => t.Email,
new { @class = "form-control", maxlength = 30, style = "width:200px;" })
        </p>
        <p>
            <label>Password</label> @Html.PasswordFor(t => t.Password,
new { @class = "form-control", maxlength = 30, style = "width:200px;" })
        </p>
        <p>
            <label>Confirm Password</label> @Html.PasswordFor(t => t.Password,
new { @class = "form-control", maxlength = 30, style = "width:200px;" })

        </p>
        <input class="btn btn-success" type="submit" value="Register" />}
    <br />
    <div class="btn btn-warning">
        @Html.ActionLink("Register a new user", "RsvpForm")
    </div>
</body>
</html>
