@model IEnumerable<SimpleCstructor.Class>
@{ Layout = "~/Views/_BasicLayout.cshtml"; }
@{ ViewBag.Title = "Student Classes"; }
@{ ViewBag.Message = ""; }

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <style>
        .btn a {
            color: white;
            text-decoration: none;
        }

        body {
            background-color: #f1f1f1;
        }
    </style>
    <h1>@ViewBag.Title</h1>
    <h2>@ViewBag.Message</h2>
</head>
<body>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClassName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClassDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClassPrice)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ClassName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClassDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClassPrice)
                </td>
            </tr>
        }

    </table>
</body>
</html>